.parallax {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.blue{
	font-family: monospace;
	color: #03a9f4;
	font-size: 45px;
	margin-bottom: 50px;
	font-weight: bold;
}
.red{
	font-family: monospace;
	color: #f9004d;
	font-size: 45px;
	margin-bottom: 50px;
	font-weight: bold;
}

/*상단바*/
.menu-box{
	position: fixed;
	z-index: 1;
	background-color: black;

	width: 100%;
}
.scroll-b{
	scroll-behavior: smooth;

	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 8%;
	padding-right: 8%;
	
}
.mainlogo{
	position:relative;
}
.mainlogo h2{
	position: absolute;
	color: #03a9f4;
	transform: translate(-50%, -50%);
	font-size: 45px;
}
.mainlogo h2:nth-child(1){
	color: transparent;
	-webkit-text-stroke: 3px #34B3F1;
}
.mainlogo h2:nth-child(2){
	color: #03a9f4;
	animation: animate 5s ease-in-out infinite;
}
@keyframes animate{
	0%,100%{
		clip-path: polygon(0 39%, 4% 52%, 11% 61%, 20% 68%, 34% 68%, 45% 63%, 52% 56%, 56% 44%, 61% 32%, 71% 24%, 81% 21%, 93% 27%, 100% 37%, 100% 100%, 0 100%);
	}
	50%{
		clip-path: polygon(0 39%, 6% 28%, 16% 19%, 26% 16%, 36% 22%, 44% 30%, 50% 44%, 59% 58%, 68% 63%, 82% 64%, 92% 57%, 97% 46%, 100% 37%, 100% 100%, 0 100%);
	}
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #03a9f4;
	transition: .4s;
}


/*메인*/
.main_s{
	width: 100%;
	padding: 0px 0px;
	background-color: #000000;
}
.main{
	height: 100vh;
	width: 100%;
	min-height: 900px;
	background-image: url(../img/typingblack.png);
	background-size: cover;
	background-position: center;
}
span{
	color: white;
	font-size: 30px;
	margin-bottom: 50px;
	font-weight: bold;
}
.content{
	width: 80%;
	position: relative;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
.type {
	font-family: monospace;
	color:#0000;
	background:
	linear-gradient(-90deg,#ffffff 5px,#0000 0) 10px 0,
	linear-gradient(#ffffff 0 0) 0 0;
	background-size:calc(var(--n)*1ch) 200%;
	-webkit-background-clip:padding-box,text;
	background-clip:padding-box,text;
	background-repeat:no-repeat;
	animation: 
	b .7s infinite steps(1),   
	t calc(var(--n)*.11s) steps(var(--n)) forwards;
}  
@keyframes t{
	from {background-size:0 200%}
}
@keyframes b{
	50% {background-position:0 -100%,0 0}
}
h1{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}




/*about section*/
.about_s{
	width: 100%;
	padding: 0px 0px;
	background-color: #000000;
}
.about img{
	height: 370px;
	width: 290px;
	min-width: 290px;
	min-height: 370px;
	margin-right: 3%; 
	size: cover;
}
.about-text{
	width: 550px;
}
.about{
	height: 100vh;
	min-height: 900px;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.82), rgba(0,0,0,0.82)), url(../img/about_dark.png);
	background-size: cover;
	background-position: center;

}
.about_container{
	height: 100vh;
	min-height: 900px;
	width: 100%;
	max-width: 95%;

	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-text h2{
	color: white;
	font-size: 40px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
}




/*contact*/
.skill_s{
	width: 100%;
	padding: 0px 0px;
}
.skill{
	position: relative;
	height: 100vh;
	min-height: 1000px;
	padding: 100px 0px;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.82), rgba(0,0,0,0.82)), url(../img/mac.png);
	background-size: cover;
	top: 0px;
	left: 0px;
}
.s_title h2{
	color: white;
	font-size: 75px;
	margin: 30px 0;
	text-align: center;
}
.skill-box{
	position: absolute;
	top: 250px;
	left: 15vw;

	width: 70%;
	/*height: 90%;*/

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.skill-card{
	height: 200px;
	width: 200px;
	min-width: 200px;
	min-height: 200px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 10px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.skill-card:hover{
	transform: scale(1.1);
	transition: .3s;
}
.skill-image{
	height: 100%;
	width: 100%; 
	size: cover;
}




/*project section test*/
.project_s{
	width: 100%;
	padding: 0px 0px;
	background-color: #000000;
}
.project{
	position: relative;
	height: 100vh;
	min-height: 900px;
	width: 100%;
	background-color: #000000;

	top: 0px;
	left: 0px;
}
.project-video{
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity : 0.3;
}
.project-box {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.project-card{
	height: 200px;
	width: 70%;
	padding: 20px 35px;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.project-card h5{
	color: white;
	font-size: 25px;
	margin-bottom: 20px;
}
.project-card p{
	color: #ffffff;
	font-size: 20x;
	line-height: 27px;
	margin-bottom: 10px;
}
.line{
	width: 200px;
	border : 0px;
	border-top: 2px solid #03a9f4;
	margin: auto;
	margin-bottom: 10px;
}



/*category*/
.category_s{
	width: 100%;
	padding: 0px 0px;

}
.category{
	position: relative;
	height: 100vh;
	min-height: 900px;
	padding: 100px 0px;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/project_bakc.png);
	background-size: cover;
	top: 0px;
	left: 0px;
}
/*박스*/
.c_title h2{
	color: white;
	font-size: 75px;
	margin: 30px 0;
	text-align: center;
}
.category-box{
	position: absolute;
	top: 250px;
	left: 0px;

	width: 100%;
	/*height: 90%;*/

	display: flex;
	justify-content: center;
	align-items: center;
}
.category-card{
	height: 50vh;
	width: 20vw;
	min-width: 300px;
	min-height: 400px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.category-card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 2vh 0px;
	color: #03a9f4;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 2vh;
}
.category-c p{
	color: white;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 0px;
	text-align: left;
}
.category-card .button{
	background-color:#03a9f4;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.category-card .button:hover{
	background-color: transparent;
	border: 2px solid #03a9f4;
	cursor: pointer;
}




/*Game*/
.game_s{
	width: 100%;
	padding: 0px 0px;

}
.game{
	position: relative;
	height: 100vh;
	min-height: 900px;
	padding: 100px 0px;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/project_bakc.png);
	background-size: cover;
	top: 0px;
	left: 0px;
}
.p_title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.game-box{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.game-card{
	height: 80vh;
	width: 600px;
	min-width: 600px;
	min-height: 600px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 10px;
	margin: 15px 15px;
	position: relative;
	overflow: hidden;
	text-align: center;

	justify-content: flex-start;
	display: flex;
	flex-direction: column;

}
.game-card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #03a9f4;

}
.game-content {
	display: flex;
}
.game-card h5{
	color: white;
	font-size: 40px;
	margin-top: 40px;
	margin-bottom: 60px;
}
.game-c p{
	color: white;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 0px;
	text-align: left;
}
.game-image{
	height: 300px;
	width: 200px;
	margin-right: 3%;
}



/*ai*/
.ai_s{
	width: 100%;
	padding: 0px 0px;
}
.ai{
	position: relative;
	height: 100vh;
	min-height: 900px;
	padding: 100px 0px;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/project_bakc.png);
	background-size: cover;
	top: 0px;
	left: 0px;
}



/*contact*/
.contact_s{
	width: 100%;
	padding: 0px 0px;
}
.contact{
	position: relative;
	height: 300px;
	padding: 100px 0px;
	width: 100%;
	background-color: #101010;
	top: 0px;
	left: 0px;
}
footer{
	position: relative;
	width: 100%;
	height: 100%;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #03a9f4;
	border-radius: 50%;
	margin: 40px 30px;
	color: white;
	text-decoration: none;
	font-size: 30px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: relative;
	color:#03a9f4;
	bottom: 5px;
	font-size: 14px; 
}